name: CICD 

on: 
  push: 
    branches:
      - main 

jobs: 
  build: 
    runs-on: self-hosted
    steps: 
      - name: Checkout source 
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm install
      - name: Install aws-sdk
        run: npm install aws-sdk@latest
      - name: Login to docker hub 
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build docker image
        run: docker build -t vaniadimulam/nodejsapp .
      - name: Publish image to docker hub 
        run: docker push vaniadimulam/nodejsapp:latest

  deploy: 
    needs: build
    runs-on: [aws-ec2]
    steps:
      - name: Pull image from docker 
        run: docker pull vaniadimulam/nodejsapp:latest
      - name: Delete old container 
        run: docker rm -f nodejsapp-container 
      - name: Run docker container 
        run: docker run -p 7001:7001 -p 3000:3000 vaniadimulam/nodejsapp:latest









        
      
    
